[Unit]
Description=znc

[Service]
ExecStartPre=-/usr/bin/docker kill znc
ExecStartPre=-/usr/bin/docker rm znc
ExecStart=/usr/bin/docker run --name znc -p 65000:65000 -v /data/znc:/data nano/znc:latest znc -d /data -f
ExecStop=/usr/bin/docker stop znc

[X-Fleet]
Conflicts=znc.service
